@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,300&display=swap');
body {
    font-family: "Open Sans";
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.celula {
    width: 75px;
    height: 65px;
    font-size: 30pt;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: cornflowerblue;
}